
:root {
    --cf-verification-primary-color: #0669f2;
    --cf-verification-secondary-color: #e5e3d6;
    --cf-verification-default-btn-bg-color: #ffffff;
    --cf-verification-action-box-bg-color: #e6f0fe;
    --cf-verification-action-box-text-color: #0d6efd;
    --cf-verification-logo-url: url("./assets/images/certifaction-logo.svg");
}

// COLORS
$gray-50: #f8f9fa;
$gray-100: #f2f4f6 !default;
$gray-110: #f9fafb !default;
$gray-150: #eff2f6 !default;
$gray-180: #edf0f3 !default;
$gray-200: #ebedf1 !default;
$gray-250: #e7e9ec !default;
$gray-300: #d1d7dd !default;
$gray-350: #d9dbdf !default;
$gray-400: #bec4ca !default;
$gray-450: #c1c3c6 !default;
$gray-500: #90939a !default;
$gray-550: #8b8d95 !default;
$gray-600: #808993 !default;
$gray-700: #203346 !default;
$gray-800: #343435 !default;
$gray-900: #212122 !default;
$white: #ffffff !default;
$black: #000000 !default;
$red: #f21a25 !default;
$orange: #fea534 !default;
$green: #32c264 !default;
$primary: #0062c7 !default;
$body-color: $gray-900 !default;
$text-muted: $gray-600 !default;

// FONTS
$font-family-sans-serif:
    // Safari for OS X and iOS (San Francisco)
    -apple-system,
    // Chrome < 56 for OS X (San Francisco)
    BlinkMacSystemFont,
    // Windows
    "Segoe UI",
    // Android
    "Roboto",
    // Basic web fallback
    "Helvetica Neue", Arial, sans-serif,
    // Emoji fonts
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-size-normal: 1rem !default;
$font-size-small: 0.8125rem !default;
$font-size-medium: 0.875rem !default;
$line-height: 1.5 !default;

// SPACING
$spacer: 1.5rem !default;

// Verification
$verification-blue: #0669f2 !default;
$verification-pure-blue: #0551bb !default;
$verification-light-blue: #e8f1fe !default;
$verification-dark-blue: #14213d !default;
$verification-dark-blue-50: mix($verification-dark-blue, white, 50%);
$verification-dark-blue-60: mix($verification-dark-blue, white, 60%);
$verification-dark-blue-80: mix($verification-dark-blue, white, 80%);

$verification-result-success-light: rgba(#e6f9f3, 0.95);
$verification-result-success-dark: #00bf86;
$verification-result-warning-light: rgba(#fef5e8, 0.95);
$verification-result-warning-dark: #f29e18;
$verification-result-error-light: rgba(#fdecf0, 0.95);
$verification-result-error-dark: #ee4266;
