$pdf-viewer-asset-base-path: "../../../node_modules/@certifaction/pdfjs/dist/";
@import "@certifaction/vue-pdf-viewer/src/style/index";

$cf-verification-asset-base-path: "../../../node_modules/@certifaction/verification-vue-component/src/assets/";
@import "~@certifaction/verification-vue-component/src/style/components/certifaction_verification";

.certifaction-verification {
    overflow: hidden;
    min-height: 100%;
}
