.data-panel {
    box-shadow: 0 1px 2px rgba(#001384, 0.08);
    border: 1px solid $gray-100;
    border-radius: 8px;
    padding-top: 12px;
    padding-bottom: 12px;

    .header {
        position: relative;
        overflow-wrap: break-word;
        padding: 5px 12px;

        .icon {
            display: block;
            position: absolute;
            top: 5px;
            left: 12px;
            width: 26px;
            height: 26px;
            border-radius: 50%;
            background-color: $verification-light-blue;
            color: $verification-blue;

            > img,
            > .md-icon {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                width: 20px;
                height: auto;
            }
        }

        .collapse-indicator {
            position: absolute;
            top: 10px;
            right: 16px;
            width: 16px;
            height: 16px;
            border-radius: 4px;
            background-color: $gray-200;
            color: $verification-dark-blue;

            .md-icon {
                width: 16px;
                height: 16px;
            }
        }
    }

    .body {
        overflow: hidden;
        padding-right: 12px;
        padding-left: 12px;
        font-size: $font-size-medium;

        p {
            margin: 0;

            + p {
                margin-top: 1rem;
            }
        }

        &.collapse-enter-active,
        &.collapse-leave-active {
            transition: height 0.15s ease-in-out;
        }
    }

    + .data-panel {
        margin-top: 0.5rem;
    }

    &.has-icon {
        .header {
            min-height: 36px;
            padding-left: 46px;
        }
    }

    &.has-body {
        .header {
            cursor: pointer;
            padding-right: 40px;
        }
    }

    &.collapsed {
        .header {
            .collapse-indicator {
                .md-icon {
                    transform: rotate(180deg);
                }
            }
        }
    }
}
