@use "../../abstracts/variables";

.verification-demo {
    text-align: center;

    .sample-docs {
        h3 {
            padding-bottom: 0;
            font-weight: 500 !important;
        }

        .click-to-verify {
            color: variables.$text-muted;
            font-size: variables.$font-size-small;
        }
    }

    .paperbox {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 270px;
        margin: 0 auto variables.$spacer * 2;

        .paper {
            cursor: pointer;
            width: 72px;
            height: 100px;
            margin: variables.$spacer * .5;
            box-shadow: 1px 3px 15px rgba(variables.$black, .2);
            padding-top: 10px;
            background-color: variables.$white;
            text-align: center;

            &:hover {
                box-shadow: 1px 3px 20px rgba(variables.$black, .3);
            }

            .md-icon {
                width: 18px;
                height: 18px;
                margin-right: auto;
                margin-bottom: variables.$spacer * .5;
                margin-left: auto;
                color: variables.$gray-400;
            }

            .lines {
                padding-top: 0;
            }

            .line-short,
            .line-long {
                height: 7px;
                margin-bottom: 4px;
                margin-left: 10px;
                background: variables.$gray-200;
            }

            .line-short {
                width: 20px;
            }

            .line-long {
                width: 52px;
            }

            &.paper-not-found,
            &.paper-technical-problem,
            &.paper-revoked-verified {
                .md-icon {
                    color: variables.$red;
                }
            }

            &.paper-verified-processing,
            &.paper-verified-self-declared {
                .md-icon {
                    color: variables.$orange;
                }
            }

            &.paper-verified {
                .md-icon {
                    color: variables.$green;
                }
            }
        }
    }
}
