@use "sass:color";
@use "../../abstracts/variables";

.verification-dropbox,
.verification-file-selector {
    border: 2px dashed var(--cf-verification-primary-color);

    .content {
        display: flex;
        max-width: 430px;
        margin: 0 auto;
        padding: 43px;

        .labels {
            .label {
                width: 100%;
            }

            .title {
                padding-top: 0;
                color: variables.$gray-700;
            }

            .subtitle {
                color: variables.$gray-500;
            }
        }
    }
}

.verification-dropbox {
    display: none;
    pointer-events: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: color.mix(variables.$verification-blue, variables.$white, 10%);

    .dropbox {
        pointer-events: none;
        height: 100%;

        .content {
            flex-direction: column;

            img {
                width: 160px;
                height: auto;
                margin: 0 auto;
                padding: 12px 0 0 12px;
            }

            .labels {
                text-align: center;

                .label {
                    width: 100%;
                    font-size: 20px;
                }

                .title {
                    font-size: 20px;
                    font-weight: 600;
                }

                .subtitle {
                    font-size: variables.$font-size-medium;
                    line-height: 1.5rem;
                }
            }
        }
    }
}

.verification-file-selector {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #f7f9fc;

    &:hover {
        background-color: color.mix(variables.$verification-blue, variables.$white, 10%);
    }

    .input-file {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        cursor: pointer;
        width: 100%;
        height: 100%;
    }

    .content {
        img {
            padding-right: 12px;
        }

        .labels {
            .label {
                width: 100%;
                font-size: variables.$font-size-medium;
            }

            .title {
                font-weight: 500;
            }
        }
    }
}
