@use "../../abstracts/variables";

.verification-item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    padding-bottom: 24px;

    .item-container {
        max-width: 100%;
    }

    &.digital-twin {
        justify-content: initial;
        height: 100%;
        padding: 0;

        .item-container {
            width: 100%;
            margin: 0;
            padding: 0;

            .action-box {
                display: flex;
                justify-content: space-between;
                position: fixed;
                bottom: 0;
                width: 100%;
                height: 70px;
                padding: 8px 16px;
                background-color: var(--cf-verification-action-box-bg-color);

                .text {
                    color: var(--cf-verification-primary-color);

                    h4 {
                        margin-top: 0;
                        margin-bottom: 0.25rem;
                        font-size: variables.$font-size-normal;
                        line-height: variables.$line-height;
                    }

                    p {
                        margin-top: 0;
                        margin-bottom: 1rem;
                        color: var(--cf-verification-action-box-text-color);
                        font-size: variables.$font-size-medium;
                    }
                }

                .actions {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    &.navigate {
                        justify-content: space-between;
                        width: 100%;
                    }
                }

                &.confirmation {
                    display: none;

                    &.mobile {
                        display: flex;
                        margin: 0 -12px;
                    }

                    .confirmation-action {
                        position: relative;
                        cursor: pointer;

                        &:before {
                            content: '';
                            position: absolute;
                            z-index: -1;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            width: 24px;
                            height: 24px;
                            margin: auto;
                            border-radius: 50%;
                            background-color: white;
                        }

                        .md-icon {
                            width: 30px;
                            height: 30px;
                        }

                        &.approve {
                            margin-right: 20px;

                            .md-icon {
                                color: variables.$verification-result-success-dark;
                            }
                        }

                        &.decline {
                            .md-icon {
                                color: variables.$verification-result-error-dark;
                            }
                        }
                    }
                }
            }

            .card-container {
                position: relative;
                height: 100%;

                > .header {
                    height: 65px;
                    padding: 20px;

                    .logo {
                        height: 100%;
                        background-image: var(--cf-verification-logo-url);
                        background-repeat: no-repeat;
                        background-size: contain;
                    }

                    &.error {
                        text-align: center;
                    }
                }

                .base-card {
                    justify-content: initial;
                    width: 100%;
                    height: calc(100% - 65px);

                    .card-body {
                        flex-grow: initial;
                    }

                    .card-footer {
                        padding-bottom: 80px;
                    }

                    &.file-declined-card {
                        h3 {
                            padding-top: 12px;
                            color: variables.$verification-result-error-dark;
                            font-size: 1.25rem;
                        }
                    }
                }
            }

            .pdf-viewer {
                display: none;
                position: absolute;
                top: 65px;
                right: 0;
                bottom: 70px;
                left: 0;
                width: auto;
                height: auto;
            }

            &.confirmation-step {
                .pdf-viewer {
                    display: block;
                }
            }

            &.error {
                .card-container {
                    width: 100%;
                    text-align: center;

                    .base-card {
                        margin: 0 auto;
                        box-shadow: none;
                        padding-top: 20px;

                        .card-header .title {
                            width: 100%;
                        }

                        .error-message {
                            margin: 35px 16px 24px;
                            border-radius: 8px;
                            padding: 12px;
                            background-color: #fdecf0;
                            color: variables.$verification-result-error-dark;
                            font-size: variables.$font-size-medium;
                            text-align: left;
                        }
                    }
                }

                .pdf-viewer {
                    display: none;
                }
            }
        }
    }
}

.verification-shadow-card {
    .lines {
        padding: variables.$spacer * 2;

        .divider {
            width: 100%;
            height: 1px;
            margin: variables.$spacer 0;
            border-bottom: 1px solid variables.$gray-100;
        }

        .line {
            height: 20px;
            margin-bottom: 9px;
            background: variables.$gray-100;

            &.long {
                width: 100%;
            }

            &.medium {
                width: 250px;
            }

            &.short {
                width: 170px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .verification-item-list {
        &.digital-twin {
            .item-container {
                display: flex;

                .action-box {
                    position: absolute;
                    right: 12px;
                    bottom: 20px;
                    left: 12px;
                    width: auto;
                    border-radius: 8px;

                    &.confirmation {
                        display: block;
                        position: static;
                        width: auto;
                        height: auto;
                        margin-top: 16px;

                        &.mobile {
                            display: none;
                        }

                        .text {
                            h4 {
                                font-weight: 500;
                            }
                        }

                        .actions {
                            justify-content: space-between;

                            .btn {
                                position: relative;
                                padding-left: 28px;

                                .md-icon {
                                    position: absolute;
                                    top: 0;
                                    bottom: 0;
                                    left: 10px;
                                    width: 14px;
                                    height: 14px;
                                    margin-top: auto;
                                    margin-bottom: auto;
                                }

                                &.decline {
                                    .md-icon {
                                        color: variables.$verification-result-error-dark;
                                    }
                                }

                                &.approve {
                                    .md-icon {
                                        color: variables.$verification-result-success-dark;
                                    }
                                }
                            }
                        }
                    }
                }

                .card-container {
                    width: 400px;
                    height: 100%;

                    .base-card {
                        width: 100%;
                    }
                }

                .pdf-viewer {
                    display: block;
                    flex: 1 1 auto;
                    position: relative;
                    top: auto;
                    right: auto;
                    bottom: auto;
                    left: auto;
                    max-width: calc(100% - 400px);
                    height: 100vh;
                }
            }
        }
    }
}
