.item-container {
    padding-top: 1.5rem;
    margin: 0 0.75rem;
}

.base-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 380px;
    background-color: $white;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba($black, 0.05);
    padding: 8px 12px 12px 12px;

    &.digital-twin {
        width: 100%;
    }

    .card-header {
        display: flex;
        flex-direction: row;

        .icon {
            display: flex;
            align-items: center;
            padding-right: 5px;

            .md-icon {
                color: $verification-card-text-grey;
                height: 16px;
                width: 16px;
            }
        }

        .title {
            width: calc(100% - 26px);

            .filename {
                color: $verification-card-text-grey;
                font-size: $font-size-medium;
                line-height: $line-height;
                overflow-wrap: break-word;
            }
        }
    }

    .card-body {
        flex-grow: 1;

        .verification-info {
            .verification-entry {
                background-color: $white;
                padding: 12px;
                border-radius: 8px;

                .label {
                    color: rgba(#14213d, 50%);
                    font-size: 13px;
                    line-height: 1.5em;
                    font-weight: 600;
                    text-transform: uppercase;
                }

                .value {
                    overflow-wrap: break-word;
                }

                .footnote {
                    display: flex;
                    align-items: center;
                    color: rgba(#14213d, 50%);

                    svg {
                        height: 12px;
                        width: 12px;
                        margin-right: 4px;
                    }

                    span {
                        font-size: 14px;
                    }

                    &.warning {
                        margin-left: 0;

                        span,
                        svg {
                            display: inline-block;
                            color: #f29e18;
                        }
                    }
                }

                .signature-hash {
                    padding-top: 10px;

                    &:first-child {
                        padding-top: 0;
                    }
                }

                .verifier-image {
                    flex: 1 1 auto;
                    overflow: hidden;
                    margin-top: 5px;
                    height: 25px;

                    img {
                        display: block;
                        width: auto;
                        max-width: 100%;
                        height: 100%;
                    }
                }

                .signature-list {
                    margin: 0;
                    padding: 0;

                    .signature {
                        display: flex;
                        list-style-type: none;
                        padding-top: 8px;

                        .icon {
                            display: inline-block;
                            position: relative;
                            width: 26px;
                            height: 26px;
                            border-radius: 50%;
                            background-color: #c4ddff;

                            > img {
                                display: block;
                                position: absolute;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                                margin: auto;
                                width: 20px;
                                height: 20px;
                            }
                        }

                        .value > span {
                            display: inline-block;
                        }

                        .left {
                            margin-right: 10px;
                        }
                    }
                }

                + .verification-entry {
                    margin-top: 5px;
                }

                &:nth-child(2n),
                &.initiator {
                    background-color: #f7f9fc;
                }
            }

            &.expert {
                .value {
                    font-size: 14px;
                }
            }
        }
    }

    .card-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 40px;

        button {
            outline: none;
        }
    }

    &.technical-problem-card,
    &.not-found-card {
        .card-body {
            .result-detail {
                .detail-header {
                    cursor: auto;
                }
            }
        }
    }
}
