.item-container {
    padding-top: 1.5rem;
    margin: 0 0.75rem;
}

.base-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 380px;
    background-color: $white;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba($black, 0.05);
    padding: 8px 12px 12px 12px;

    .btn {
        padding: 8px 10px;
        font-size: $font-size-medium;
        font-weight: 500;
        border-radius: 3px;
        border: none;

        &.primary {
            background-color: $verification-blue;
            color: $white;
        }

        &.secondary {
            background-color: #EEF3FA;
            color: $verification-blue;
        }

        &:nth-child(2) {
            margin-left: 12px;
        }
    }

    .card-header {
        display: flex;
        flex-direction: row;

        .icon {
            display: flex;
            align-items: center;
            padding-right: 5px;

            .md-icon {
                color: $verification-card-text-grey;
                height: 16px;
                width: 16px;
            }
        }

        .title {
            width: calc(100% - 26px);

            .filename {
                color: $verification-card-text-grey;
                font-size: $font-size-medium;
                line-height: $line-height;
                overflow-wrap: break-word;
            }

            .help-card-title {
                padding: 0 6px;
            }
        }
    }

    .card-body {
        flex-grow: 1;

        .verification-info {
            .verification-entry {
                background-color: $white;
                padding: 12px;
                border-radius: 8px;

                &:nth-child(2n) {
                    background-color: #F7F9FC;
                }

                span {
                    display: block;

                    &.label {
                        color: rgba(#14213d, 50%);
                        font-size: 13px;
                        line-height: 1.5em;
                        font-weight: 600;
                        text-transform: uppercase;
                    }

                    &.footnote {
                        display: flex;
                        align-items: center;

                        span, svg {
                            display: inline-block;
                            color: #F29E18;
                        }

                        svg {
                            height: 12px;
                            width: 12px;
                            margin-right: 4px;
                        }

                        span {
                            font-size: 14px;
                        }
                    }
                }

                .value {
                    overflow-wrap: break-word;
                }

                .verifier-image {
                    flex: 1 1 auto;
                    overflow: hidden;
                    height: 60px;
                    padding-top: 5px;

                    img {
                        display: block;
                        width: auto;
                        max-width: 100%;
                        height: 100%;
                    }
                }
            }

            &.expert {
                span.value {
                    font-size: 14px;
                }
            }
        }
    }

    .card-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 40px;

        button {
            outline: none;
        }
    }
}
