@use "../../../abstracts/variables";

.item-container {
    margin: 0 0.75rem;
    padding-top: 1.5rem;
    color: variables.$verification-dark-blue;
}

.base-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 380px;
    height: 100%;
    box-shadow: 0 4px 12px rgba(variables.$black, 0.05);
    border-radius: 4px;
    padding: 8px 12px 12px 12px;
    background-color: variables.$white;

    &.digital-twin {
        width: 100%;
    }

    .card-header {
        display: flex;
        flex-direction: row;

        .icon {
            display: flex;
            align-items: center;
            padding-right: 5px;

            .md-icon {
                width: 16px;
                height: 16px;
                color: variables.$verification-dark-blue-50;
            }
        }

        .title {
            width: calc(100% - 26px);

            .filename {
                color: variables.$verification-dark-blue-50;
                font-size: variables.$font-size-medium;
                line-height: variables.$line-height;
                overflow-wrap: break-word;
            }
        }
    }

    .card-body {
        flex-grow: 1;

        .verification-info {
            .label {
                display: inline-block;
                color: variables.$verification-dark-blue-60;
                font-size: variables.$font-size-small;
                font-weight: 600;
                text-transform: uppercase;
            }

            .data-panel {
                .body {
                    overflow-wrap: break-word;
                }
            }

            .section {
                > .label {
                    margin-bottom: 0.5rem;
                }

                > .value {
                    overflow-wrap: break-word;
                    font-size: variables.$font-size-medium;
                }

                + .section {
                    margin-top: 1rem;
                }

                &.retraction-note {
                    display: flex;
                    flex-direction: column;
                    border-radius: 8px;
                    padding: 12px;
                    background-color: variables.$verification-light-blue;

                    .label {
                        margin-bottom: 5px;
                        color: variables.$verification-pure-blue;
                    }

                    .value {
                        color: variables.$verification-dark-blue-80;
                        font-size: 1rem;
                    }
                }
            }

            .event-details {
                .data-row {
                    position: relative;
                    max-width: 100%;
                    padding: 4px 0 4px 30px;

                    .verified,
                    .unverified {
                        position: absolute;
                        top: 10px;
                        left: 4px;
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        color: white;

                        img {
                            display: block;
                            width: 100%;
                            height: auto;
                        }
                    }

                    .label {
                        display: block;
                        margin-bottom: -2px;
                        font-size: 0.625rem;
                    }

                    .value {
                        overflow-wrap: break-word;
                        color: variables.$verification-dark-blue-80;
                        font-size: variables.$font-size-medium;

                        img {
                            display: inline-block;
                            width: auto;
                            height: 16px;
                            vertical-align: text-bottom;
                        }
                    }
                }
            }

            &.expert {
                padding: 12px 6px;

                .data-panel {
                    a {
                        text-decoration: none;
                    }
                }

                .signature-details {
                    .data-panel {
                        .body {
                            > div {
                                + div {
                                    margin-top: 8px;
                                }
                            }
                        }
                    }

                    .download-signature {
                        a {
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }

    .card-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 40px;

        button {
            outline: none;
        }
    }

    &.technical-problem-card,
    &.not-found-card {
        .card-body {
            .result-detail {
                .detail-header {
                    cursor: auto;
                }
            }
        }
    }
}
