@use "../../../abstracts/variables";

.help-card {
    .card-header {
        padding: 7px 4px;
        font-weight: bold;
    }

    .card-body {
        form {
            padding: 0 4px;

            .consent-field {
                display: flex;
            }

            label {
                display: inline-block;
                color: rgba(#14213D, 0.5);
                font-size: 13px;
                font-weight: 600;
                text-transform: uppercase;
                line-height: 1.5em;

                &.consent {
                    font-size: variables.$font-size-medium;
                    text-transform: initial;
                }
            }

            input[type="email"],
            textarea {
                width: 100%;
                border: 1px solid #e5e5e5;
                border-radius: 4px;
                padding: 5px;
                background: variables.$white;
                box-sizing: border-box;
                line-height: inherit;

                &:focus {
                    outline: none;
                }
            }

            textarea {
                resize: none;
                min-height: 200px;
            }

            .switch {
                display: inline-block;
                position: relative;
                width: 30px;
                height: 16px;
                margin: 3px 8px 0 0;

                input {
                    opacity: 0;
                    width: 0;
                    height: 0;

                    &:checked + .slider {
                        background-color: rgba(#00BF86, 0.25);

                        &:before {
                            background-color: #00bf86;
                        }
                    }

                    &:focus + .slider {
                        box-shadow: 0 0 1px #2196f3;
                    }

                    &:checked + .slider:before {
                        transform: translateX(14px);
                    }
                }

                .slider {
                    transition: .4s;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    cursor: pointer;
                    background-color: #cccccc;

                    &:before {
                        content: "";
                        transition: .4s;
                        position: absolute;
                        bottom: 1px;
                        left: 1px;
                        width: 14px;
                        height: 14px;
                        background-color: white;
                    }

                    &.round {
                        border-radius: 34px;

                        &:before {
                            border-radius: 50%;
                        }
                    }
                }
            }

            .error {
                label {
                    color: variables.$red;
                }

                input[type="email"], textarea {
                    border-color: variables.$red;
                }
            }

            .validation-error {
                color: variables.$red;
            }

            .message-sent {
                display: block;
                border-radius: 4px;
                padding: 5px 10px;

                &.success {
                    border: 1px solid variables.$verification-result-success-dark;
                    background-color: variables.$verification-result-success-light;
                    color: variables.$verification-result-success-dark;
                }

                &.failed {
                    border: 1px solid variables.$verification-result-error-dark;
                    background-color: variables.$verification-result-error-light;
                    color: variables.$verification-result-error-dark;
                }
            }
        }

        .faq-items.accordion {
            .item {
                margin: 4px;
                box-shadow: 0 2px 12px rgba(variables.$gray-700, 0.09), 0 1px 4px rgba(variables.$gray-700, 0.04);

                .item-title {
                    position: relative;
                    cursor: pointer;
                    padding: 10px 12px;
                    font-size: variables.$font-size-medium;

                    .chevron {
                        position: absolute;
                        top: 0.5rem;
                        right: 0.5rem;
                        color: rgba(#14213d, 60%);
                    }
                }

                .content {
                    .inside {
                        padding: 0 12px 12px;
                        font-size: 12px
                    }

                    &.collapse-enter-active,
                    &.collapse-leave-active {
                        transition: height 0.15s ease-in-out;
                        overflow: hidden;
                    }
                }

                &.open {
                    .item-title {
                        .chevron {
                            transform: rotate(180deg);
                        }
                    }
                }

                &:first-of-type {
                    .item-title {
                        border-radius: 6px 6px 0 0;
                    }
                }
            }
        }
    }

    .btn[type="submit"] {
        display: flex;

        &:disabled {
            background-color: #89baff;
        }

        img {
            width: 21px;
            height: auto;
        }
    }
}
