@use "../../../abstracts/variables";

.result-detail {
    position: relative;
    margin: 12px 0;

    .detail-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        border-radius: 8px;
        padding: 12px;

        .header-icon {
            display: flex;
            padding-right: 8px;
        }

        .header-label {
            width: 100%;
            font-size: 14px;
            font-weight: 600;
            line-height: 1.5em;
        }

        .header-action {
            display: flex;
            align-items: center;
            padding-left: 30px;

            .advanced-toggler {
                display: flex;
                align-items: center;
                outline: none;
                border-radius: 4px;
                padding-left: 4px;

                span {
                    color: white;
                    font-size: 12px;
                }

                .md-icon {
                    width: 16px;
                    height: 16px;
                    padding-top: 1px;
                    color: variables.$white;
                }
            }
        }
    }

    .detail-body {
        position: absolute;
        z-index: 100;
        backdrop-filter: blur(0.5px);
        width: 100%;
        border-radius: 0 0 8px 8px;
        padding: 0 12px 12px 12px;

        ul {
            margin: 0;
            padding: 0;

            li {
                display: flex;
                position: relative;
                padding-bottom: 10px;
                list-style-type: none;

                &:last-child {
                    padding-bottom: 0;
                }

                .md-icon {
                    display: inline-block;
                    flex: 14px 0 0;
                    height: 20px;
                    margin-right: 8px;
                }

                span {
                    font-size: 13px;
                    line-height: 1.5em;

                    &.detail-footnote {
                        display: block;
                        padding-top: 5px;
                        color: rgba(#14213d, 50%);
                    }
                }

                &.tamper-proof,
                &.blockchain,
                &.document-valid,
                &.verified-issuer,
                &.verified-signer,
                &.in-progress {
                    .md-icon {
                        color: variables.$verification-result-success-dark;
                    }
                }

                &.unverified-issuer,
                &.unverified-signer,
                &.document-retracted {
                    .md-icon {
                        color: variables.$verification-result-warning-dark;
                    }
                }

                &.document-revoked {
                    .md-icon {
                        color: variables.$verification-result-error-dark;
                    }
                }
            }
        }
    }

    &.success {
        .detail-header,
        .detail-body {
            background-color: variables.$verification-result-success-light;
        }

        .detail-header {
            .header-icon {
                .md-icon {
                    color: variables.$verification-result-success-dark;
                }
            }

            .header-label {
                color: variables.$verification-result-success-dark;
            }

            .header-action {
                button {
                    background-color: variables.$verification-result-success-dark;
                }
            }
        }
    }

    &.warning {
        .detail-header,
        .detail-body {
            background-color: variables.$verification-result-warning-light;
        }

        .detail-header {
            .header-icon {
                .md-icon {
                    color: variables.$verification-result-warning-dark;
                }
            }

            .header-label {
                color: variables.$verification-result-warning-dark;
            }

            .header-action {
                button {
                    background-color: variables.$verification-result-warning-dark;
                }
            }
        }
    }

    &.error {
        .detail-header,
        .detail-body {
            background-color: variables.$verification-result-error-light;
        }

        .detail-header {
            .header-icon {
                .md-icon {
                    color: variables.$verification-result-error-dark;
                }
            }

            .header-label {
                color: variables.$verification-result-error-dark;
            }

            .header-action {
                button {
                    background-color: variables.$verification-result-error-dark;
                }
            }
        }
    }

    &.expanded {
        .detail-header {
            border-radius: 8px 8px 0 0;
        }
    }

    .collapse-enter-active,
    .collapse-leave-active {
        transition: max-height 0s;
    }

    .collapse-enter,
    .collapse-leave-to {
        overflow: hidden;
        max-height: 0;
    }
}
