@use "sass:color";

// COLORS
$gray-50: #fbfbfc;
$gray-100: #eff3f6;
$gray-200: #e2e8f0;
$gray-300: #cbd5e1;
$gray-400: #94a3b8;
$gray-500: #64748b;
$gray-600: #475569;
$gray-700: #334155;
$gray-800: #1e293b;
$gray-900: #0f172a;
$white: #ffffff !default;
$black: #000000 !default;
$red: #f21a25 !default;
$orange: #fea534 !default;
$green: #32c264 !default;
$primary: #0669f2 !default;
$body-color: $gray-900 !default;
$text-muted: $gray-600 !default;

// FONTS
$font-family-sans-serif:
    // Safari for OS X and iOS (San Francisco)
    -apple-system,
    // Chrome < 56 for OS X (San Francisco)
    BlinkMacSystemFont,
    // Windows
    "Segoe UI",
    // Android
    "Roboto",
    // Basic web fallback
    "Helvetica Neue", Arial, sans-serif,
    // Emoji fonts
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-size-normal: 1rem !default;
$font-size-small: 0.8125rem !default;
$font-size-medium: 0.875rem !default;
$line-height: 1.5 !default;

// SPACING
$spacer: 1.5rem !default;

// Verification
$verification-blue: #0669f2 !default;
$verification-pure-blue: #0551bb !default;
$verification-light-blue: #e8f1fe !default;
$verification-dark-blue: #14213d !default;
$verification-dark-blue-50: color.mix($verification-dark-blue, white, 50%);
$verification-dark-blue-60: color.mix($verification-dark-blue, white, 60%);
$verification-dark-blue-80: color.mix($verification-dark-blue, white, 80%);

$verification-result-success-light: rgba(#e6f9f3, 0.95);
$verification-result-success-dark: #00bf86;
$verification-result-warning-light: rgba(#fef5e8, 0.95);
$verification-result-warning-dark: #f29e18;
$verification-result-error-light: rgba(#fdecf0, 0.95);
$verification-result-error-dark: #ee4266;
