.btn {
    outline: none;
    padding: 8px 10px;
    border: none;
    border-radius: 3px;
    font-size: $font-size-medium;
    font-weight: 500;
    text-decoration: none;
    text-align: center;

    &:active {
        outline: none;
    }

    &.primary {
        background-color: $verification-blue;
        color: $white;
    }

    &.secondary {
        background-color: #eef3fa;
        color: $verification-blue;
    }

    &.light {
        background-color: white;
        color: #0669f2;
    }

    &:nth-child(n+2) {
        margin-left: 12px;
    }
}
