.btn {
    display: inline-block;
    outline: none;
    box-shadow: 0 1px 2px rgba(#001384, 0.08);
    border: 1px solid $gray-100;
    border-radius: 3px;
    padding: 8px 16px;
    font-size: $font-size-medium;
    font-weight: 600;
    text-decoration: none;
    text-align: center;

    + .btn {
        margin-left: 12px;
    }

    &:active {
        outline: none;
    }
}

.btn-primary {
    background-color: $btn-default-bg-color;
    color: $white;
    border: $btn-default-bg-color;
}

.btn-secondary {
    background-color: $white;
    color: $btn-secondary-text-color;
}
