@use "sass:meta";
@use "../abstracts/variables";
@use "../abstracts/functions";

.certifaction-verification {
    --cf-verification-primary-color: #0669f2;
    --cf-verification-secondary-color: #e5e3d6;
    --cf-verification-default-btn-bg-color: #ffffff;
    --cf-verification-action-box-bg-color: #e6f0fe;
    --cf-verification-action-box-text-color: #0d6efd;
    --cf-verification-logo-url: url("../../assets/img/certifaction_logo.svg");

    font-family: variables.$font-family-sans-serif;
    font-size: variables.$font-size-normal;
    line-height: variables.$line-height;

    *,
    :before,
    :after {
        box-sizing: border-box;
    }

    .expand-enter-active {
        transition: all .2s ease;
    }

    .expand-leave-active {
        transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }

    .expand-enter,
    .expand-leave-to {
        transform: scale(0);
    }

    .md-icon {
        display: block;
        width: 24px;
        height: 24px;

        &.inline {
            display: inline-block;
        }
    }

    .btn-link {
        cursor: pointer;
        border: none;
        padding: 0;
        background: none;
        font-size: variables.$font-size-small;
    }

    a {
        color: var(--cf-verification-primary-color);
    }

    @include meta.load-css("buttons");
    @include meta.load-css("verification/demo");
    @include meta.load-css("verification/file_selection");
    @include meta.load-css("verification/item_list");
    @include meta.load-css("verification/data_panel");
    @include meta.load-css("verification/card/all");

    .powered-by {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 205px;
        margin: 24px auto variables.$spacer;
        border: 1px solid #ebedf1;
        border-radius: 4px;
        padding: 12px;
        background-color: variables.$white;
        font-size: variables.$font-size-small;
        font-weight: 500;
        line-height: 14px;

        .label {
            color: variables.$verification-dark-blue-50;
        }

        a {
            img {
                width: 103px;
                height: auto;
            }
        }
    }

    &.dragover {
        .verification-dropbox {
            display: block;
        }

        .verification-demo,
        .verification-item-list,
        .verification-file-selector,
        .powered-by {
            display: none;
        }
    }
}
