@use "../abstracts/variables";
@use "../abstracts/functions";

.pdf-viewer {
    --c-color-grey-50: #{variables.$gray-50};
    --c-color-grey-200: #{variables.$gray-200};
    --c-color-grey-600: #{variables.$gray-600};
    --c-color-grey-900-rgb: #{functions.hexToRGB(variables.$gray-900)};
    --c-drop-shadow: 0px 1px 4px 0px rgb(var(--c-color-grey-900-rgb), 0.04), 0px 2px 12px 0px rgb(var(--c-color-grey-900-rgb), 0.09);
}
