@import "../settings/variables";
@import "buttons";

.certifaction-verification {
    font-family: $font-family-sans-serif;
    font-size: $font-size-normal;
    background-color: $verification-background;
    height: 100%;

    *,
    :before,
    :after {
        box-sizing: border-box;
    }

    .expand-enter-active {
        transition: all .2s ease;
    }

    .expand-leave-active {
        transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }

    .expand-enter,
    .expand-leave-to {
        transform: scale(0);
    }

    .md-icon {
        display: block;
        width: 24px;
        height: 24px;

        &.inline {
            display: inline-block;
        }
    }

    .btn-link {
        cursor: pointer;
        padding: 0;
        border: none;
        background: none;
        font-size: $font-size-small;
    }

    @import "verification/demo";
    @import "verification/file_selection";
    @import "verification/item_list";
    @import "verification/card/all";

    .powered-by {
        display: flex;
        justify-content: space-between;
        margin: 24px auto $spacer;
        background-color: $white;
        width: 205px;
        font-size: $font-size-small;
        align-items: center;
        padding: 12px;
        border: 1px solid #EBEDF1;
        border-radius: 4px;
        font-weight: 500;
        line-height: 14px;

        .label {
            color: $verification-card-text-grey;
        }

        a {
            img {
                width: 103px;
                height: auto;
            }
        }
    }
}
